<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user perchase</title>
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- bootstrap navbar --> <a type="button" class="btn btn-success mr-1" id="donate" href="dashboard">ADMIN DASHBOARD</a>
    
      <!-- navbar ends -->
    <!-- Login form -->
    <div class="login text-center mt-5"> 
    
        <h2> USER PURCHASE</h2>
        <form action="/adpur" method="post">
        <div class="msg">{{ msg }}</div>
            <!-- <input type="text" placeholder="fullname" id="fullname"> </br></br> -->
            
            <input type="text" name="username" placeholder="Enter customer Username"  id="username" required></br></br>
			
			<input type="text" name="item" placeholder="Enter the purchase item" id="item" required></br></br>
			
            </br>
            </br>
        <button type="submit" id="button" class="btn btn-primary"> UPDATE </button>
        </form>
    </div>

    
</body>
</html>


