<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>admin dashboard</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="static/css/style2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="sidebar-container">
  <div class="sidebar-logo">
    admin pannel
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <a href="/">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Homepage
      </a>
    </li>
    <li>
      <a href="admin"> 
        <i class="fa fa-tachometer" aria-hidden="true"></i>admin login
      </a>
    </li>
    <li class="header">Another Menu</li>
    <li>
      <a href="">
        <i class="fa fa-cog" aria-hidden="true"></i> purchases
      </a>
    </li>
    <li>
      <a href="ahis">
        <i class="fa fa-cog" aria-hidden="true"></i> pending dues
      </a>
    </li>
    
  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="col-lg-4 offset-lg-2 col-md-6 offset-md-3">
        <div class="row donate-sponsor" >
       <div class="container bg-white pb-5">
                            
    <div class="row d-flex justify-content-start align-items-center mt-sm-5">
        <div class="col-lg-5 col-10">
            <div id="circle"></div>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br> 
                <a align="center" type="button" class="btn btn-success mr-1"  href="apayment">due </a>
               
                <a type="button" class="btn btn-primary mr-1" id="sponsor" href="update">update</a>
              </div>
    </div>
</div>
  </div> </div> </div>
</div>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>
