<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>userdashboard</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="static/css/style2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="sidebar-container">
  <div class="sidebar-logo">
    user pannel
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <a href="/">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Homepage
      </a>
    </li>
    <li>
      <a href="admin"> 
        <i class="fa fa-tachometer" aria-hidden="true"></i>admin login
      </a>
    </li>
    <li class="header">Another Menu</li>
    <li>
      <a href="uspur">
        <i class="fa fa-users" aria-hidden="true"></i> purchase history
      </a>
    </li>
    <li>
     <li>
      <a href="payment">
        <i class="fa fa-users" aria-hidden="true"></i> pending payement
      </a>
    </li>
    <li>
      <a href="email">
        <i class="fa fa-users" aria-hidden="true"></i> email us
      </a>
    </li>
    
  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>USER DASHBOARD</h1>
      <p>welcome to user dashboard</p>
      
    </div>

  </div>
</div>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>
